.container.position-relative.px-4.px-lg-5
	.row.gx-4.gx-lg-5.justify-content-center
		.col-md-10.col-lg-8.col-xl-7
			%h1 Add Team Member
%hr.my-4/
#append_team.container.px-4.px-lg-5
	.container.px-4.px-lg-5
		.row.gx-4.gx-lg-5.justify-content-center
			.col-md-10.col-lg-8.col-xl-7
				.row				
					= form_for @team_member, url: team_member_team_path(@team.id), method: :post do |f|
						= render partial: 'shared/error_messages', locals: {object: f.object}
						= f.label :team_name
						%br/
						= f.text_field :tname, id: "tname", readonly: true, class: "form-control", value: @team.tname
						%br/
						= f.select :user_id, @users.map{|u| [u.first_name, u.id]}, {prompt: 'Select'}, {class: "form-control"}
						= f.submit "Save", class: "btn btn-outline-secondary"
